<br><br>

<div>
  <form role="form">
    <div class="tab-users table-responsive">
      <table class="table">
        <h1 class="text-center"><span class="label label-default">Voulez vous vraiment supprimer {{ user.name }} {{ user.surname }} ?</span></h1>
        <br>
        <button class="btn btn-danger btn-lg btn-block" type="submit" ng-click="sendData()">Supprimer</button>
      </table>
    </div>
  </form>

  <br><br>

  <a ng-href="#/users" class="btn btn-primary" role="button" alt="retour" title="Retour">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    Retour
  </a>

</div>