<br><br>

<div>
  <form>
    <div id="table-modify" class="tab-users table-responsive">
      <table class="table">
        <div class="form-group">
          <label for="firstnameInputModify">Prénom</label>
          <input type="text" class="form-control" id="firstnameInputModify" placeholder="Prénom">
        </div>
        <div class="form-group">
          <label for="lastnameInputModify">Nom de famille</label>
          <input type="input" class="form-control" id="lastnameInputModify" placeholder="Nom de famille">
        </div>
        <button type="submit" class="btn btn-success" ng-click="sendData()">Valider</button>
      </table>
    </div>
  </form>

  <br><br>

  <a href="#/users" class="btn btn-primary" role="button" alt="retour" title="Retour">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    Retour
  </a>

</div>
