<br><br>

<div>

  <p>Name: {{currentUser.name}}</p>
  <p>Surname: {{currentUser.surname}}</p>
  <p>Email: {{currentUser.email}}</p>
  <p>Website: {{currentUser.website}}</p>

  <br><br>

  <p>Projet: {{currentUserProject.title}}</p>
  <p>Role: {{currentUserRole.name}}</p>
  <p>Année: {{currentUserProject.year}}</p>
  <p>{{currentUserProject.description}}</p>


  <br><br>

  <a href="#/users" class="btn btn-primary" role="button" alt="retour" title="Retour">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    Retour
  </a>

</div>
